<section class="header-component-wrapper">
    <mat-toolbar class="brand-1 fs-12 tc-6 flex-center-align header-toolbar">
        <span>{{formData.title0}} </span>
    </mat-toolbar>
    <mat-toolbar class="brand-3 fs-12 tc-6 flex-row md-flex-wrap header-toolbar">
        <div class="flex-1 inner-header-toolbar flex-center-align">{{formData.title1}}</div>
        <div class="flex-1 inner-header-toolbar flex-center-align">{{formData.title2}}</div>
        <div class="flex-1 inner-header-toolbar flex-center-align" id="inner-header-toolbar-3">{{formData.title3}}</div>
    </mat-toolbar>  
</section>
