.header-component-wrapper {
    .header-toolbar {
        height: 40px !important;
        border-bottom: 1px solid #ffffff;
    }
    .inner-header-toolbar{
        height: 100%;;
    }
    .inner-header-toolbar{
        border-right: 1px solid #ffffff;
    }
    #inner-header-toolbar-3 {
        border-right: none;
    }
   
}
