<section class="footer-wrapper">
    <mat-toolbar class="footer flex-row">
        <div class="flex-1 footer-content flex-col MT50">
            <div class="PL95 MB20 fs-14">
                {{quickLinks.Quicks}}
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{quickLinks.FAQs}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{quickLinks.Shipping}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{quickLinks.Return}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{quickLinks.ContactUs}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{quickLinks.afterPay}}</a>
            </div>
        </div>
        
        <div class="flex-1 footer-content flex-col MT50">
            <div class="PL95 MB20 fs-14">
                {{aboutDressUp.aboutDress}}
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{aboutDressUp.ourStory}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{aboutDressUp.careers}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{aboutDressUp.collaborations}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{aboutDressUp.campusProg}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{aboutDressUp.blog}}</a>
            </div>
        </div>

        <div class="flex-1 footer-content flex-col MT50">
            <div class="PL95 MB20 fs-14">
                {{Shopping.getShopping}}
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{Shopping.arrivals}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{Shopping.careers}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{Shopping.accessory}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{Shopping.sales}}</a>
            </div>
            <div class="PL100 fs-14 ">
                <a class="footer-wrapper-content fs-14" href="">{{Shopping.gifts}}</a>
            </div>
        </div>
        <div class="flex-1 footer-content flex-col MT50 ">
            <div class="ta-center fs-14">
                {{connect.connectUs}}
            </div>
            <div class="PT20">
                <a href="" target="_blank">
                    <img class="logo " src="./assets/images/facebook.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/instagram.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/youtube.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/twitter.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/whatsapp.png">
                </a>
            </div>
        </div>
        <div class="flex-1 footer-content flex-col MT50 ">
            <div class="ta-center fs-14">
                PAYMENT METHODS
            </div>
            <div class="PT20">
                <a href="">
                    <img class="logo " src="./assets/images/visa.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/paypal.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/mastercard.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/americanexpress.png">
                </a>
                <a href="">
                    <img class="logo " src="./assets/images/discover.png">
                </a>
            </div>
        </div>
    </mat-toolbar>

    <mat-toolbar class="sub-footer disp-flex">
        <div class="flex-1">
            <img class="ML80" alt="DRESSUP" src="./assets/images/logo2.png">
        </div>
        <div class="flex-1 flex-row ML95">
            <div class="flex-1">
                <a class="footer-button fs-10" href="">ABOUT US</a>
            </div>
            <div class="flex-1">
                <a class="footer-button fs-10" href="">PRIVACY POLICY</a>
            </div>
            <div class="flex-1">
                <a class="footer-button fs-10" href="">LOCATIONS</a>
            </div>
            <div class="flex-1">
                <a class="footer-button fs-10" href="">ASSECIBILITY</a>
            </div>
        </div>
        <div class="flex-1 footer-button fs-10 ta-right MR30">
            © 2020 DRESS UP – AN ONLINE DRESS BOUTIQUE.
        </div>
    </mat-toolbar>
</section>


