.footer{
height: 300px;
background-color: rgb(51, 51, 51);
border-bottom: 1px solid rgb(82, 78, 78);
}
.footer-content{
    height: 100%;
    color: rgb(255, 255, 255);
}
.footer-wrapper-content{
    color: rgb(196, 192, 192);
    text-decoration: none;
    font-weight: 50;
    font-family: initial;
}
.logo{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sub-footer{
    height: 150px;
    background-color: rgb(51, 51, 51);
}
.footer-button{
    color: rgb(196, 192, 192);
    text-decoration: none;
    font-weight: 50;
    font-family: initial;
}