<section>
  <div class="image-wrapper">
    <div class="pos-rel">
      <div class="disp-flex navigation WD95 PL2 jc-space-bw pos-abs">
        <div class="">
          <mat-icon class="navigate-icon">navigate_before</mat-icon>
        </div>
        <div class="">
          <mat-icon class="navigate-icon">navigate_next</mat-icon>
        </div>
      </div>
      <a href="">
        <img class="banner1" src="./assets/images/banner1.png">
      </a>
    </div>
  </div>


  <div>
    <mat-toolbar class="offer-holiday-div MT50 ML80 MB50 disp-flex">

      <mat-toolbar class="flex-1 offer-holiday">

        <div class="ta-center check">
          <span class="common">
            get a $5 reward
          </span>
          <span class="ta-center common ">
            WHEN YOU BUY ONLINE + PICK UP IN STORE
          </span>
        </div>

      </mat-toolbar>

      <mat-toolbar class="flex-1 offer-holiday">
        <div class="ta-center check">
          <span class="common">
            holiday hours
          </span>
          <span class="ta-center common">
            ALL LOCATION ARE OPEN TILL 9 PM
          </span>
        </div>
      </mat-toolbar>
    </mat-toolbar>
  </div>
</section>