.banner1{
    width: 100%;
    height: 700px;
}
.navigation {
    top:300px;
}
.navigate-icon{
    font-size: 89px !important;
    font-weight: 1000 !important;
}
.offer-holiday-div{
    background-color: rgb(255, 255, 255);
    height: 220px !important;
    width: 90%;
}
.offer-holiday{
    background-color: rgba(16, 54, 19, 0.849);
    height: 90%;
    margin: 5px;
    display: inline;
}
.common{
    display: block;
    font-size: 25px;
    color: white;
    font-family: Bodoni MT Medium;
}
.check{
    margin-top: 70px;
}

