.viewimage{
   height: 740px;
   width: 90%;
   background-color: rgb(255, 255, 255) !important;
}
.girl-img{
    height: 720px;
    width: 93%;
}
.image-content{
    height: 349px;
}
.heading{
    text-shadow: 0 0 rgb(0, 0, 0);
}
.button{
    background-color: #202020 !important;
    border-radius: 0 !important;
    color: rgb(255, 255, 255) !important;
    height: 40px;
}
.top-sweater{
    height: 330px;
}
.content{
    word-break: break-word !important;
    white-space: break-spaces;
    font-weight: 550px;
    font-size: 13px;
    font-family: 'Roboto';
}
.description{
    height: 350px;
}
.description-content-common{
height: 100%;
width: 100%;
}
.new-product{
    height: 50px;
    align-items: baseline;
}
.new-product-heading{
    width: 100%;
    border-bottom: 1px solid rgb(139, 136, 136);
}
.image-wrapper{
    height: 400px;
}
.new-arrivals-images{
    height: 400px;
    width: 85%;
    box-shadow: 10px 10px 5px grey;
}
.subscribe{
    height: 100px;
}
.subscribe-text{
font-family: system-ui;
font-weight: bolder;
}
.subscribe-email{
    border: 1px solid black;
    color: rgb(177, 174, 174);
}
.email-button{
    width: 100% !important;
    background-color: black;
    border-radius: 0 !important;
}
.subscribe-email-wrapper{
    max-width: 33% !important;
}
