<ng-template #wrapper let-data>
    <section class="sign-in-wrapper">
        <h2 mat-dialog-title class="ta-center fs-14">Sign In / Create Account</h2>
        <mat-dialog-content>
            <div class="sign-in-form-wrapper disp-flex">
                <div class="sign-in-form flex-1 flex-col">
                    <div class="emailId-wrapper MB25">
                        <div class="email fs-14">
                            Email Address
                        </div>
                        <mat-form-field class="email-input">
                            <input matInput class="input">
                        </mat-form-field>
                    </div>
                    <div class="password-wrapper">
                        <div class="password fs-14">
                            Password
                        </div>
                        <mat-form-field class="email-input">
                            <input matInput class="input">
                        </mat-form-field>
                    </div>
                    <div class="remember-passwaord MT15 disp-flex">
                        <mat-checkbox class="example-margin fs-12 "> Remember Password </mat-checkbox>
                    </div>
                    <div class="signin-button-forgot-password MT20 flex-row">
                        <div class="flex-1">
                            <button mat-button class="sign-in-up-button tc-6">Sign In</button>
                        </div>
                        <div class="flex-3 MT5">
                        <a href="" class="ta-left fs-12">Forgot your password?</a>
                        </div>
                    </div>
                </div>
                <div class="create-account flex-1 disp-flex ">
                    <div class="create-account-info flex-col M15">
                        <div class="create-account-header-footer ta-center fs-14 PT5 PL15">
                            New Customer?
                        </div>
                        <div  class="create-account-description">
                             <div class="create-account-description-header PL15 fs-12">
                                 Create an account with us and you'll be able to:
                             </div>   
                             <div class="create-account-description-list MT5">
                                <ul class="fs-12">
                                    <li class="P2">Check out faster</li>
                                    <li class="P2">Save multiple shipping addresses</li>
                                    <li class="P2">Access your order history</li>
                                    <li class="P2">Track new orders</li>
                                    <li class="P2">Save items to your Wish List</li>
                                  </ul>  
                                  
                            </div>
                        </div>
                        <div class="create-account-header-footer PL15 PT5">
                            <button mat-button class="sign-in-up-button tc-6"
                            routerLink="/create-account" 
                            routerLinkActive="active">Create Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button (click)="onCancel()">Cancel</button>
        </mat-dialog-actions>
    </section>

</ng-template>