.header-menu-component-wrapper-left{
    height: 130px !important;
    border-bottom: 1px solid #cecccc;
}
#login-icon{
    width: 20px;
    height: 20px;
}
#search-icon{
    width: 20px;
    height: 20px;
}
.sub-header-navbar{
    height: 35px;
    border-bottom: 2px solid #cecccc;
}
.person{
    border: 2px solid rgb(53, 50, 50) ;
    border-radius: 50%;
}
.customerName{
    margin-top: -13px;
}
.greet-name{
    margin-left: -15px;
}

.height-search-box{
    height: 45px !important;
    background-color: rgb(248, 247, 247);
    
}

